.charts--container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.charts {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    background: var(--primary2);
    align-items: left;
    flex-direction: column;
    padding: 10px;
}

.chart--title {
    display: flex;
    width: 100%;
    /* align-items: left; */
    padding: 10px;
    font-size: 20px;
    flex-direction: row;
}

.youtube--chart {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    height: 28rem;
    width: 100%;
    border-radius: 10px;
    background: var(--background);
    align-items: left;
    flex-direction: column;
}
